<configuration>

    <springProperty name="filePath" source="logging-api.file.path" defaultValue="logs/App.log"/>
    <springProperty name="fileLogPattern" source="logging-api.file.log-pattern" defaultValue="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
    <springProperty name="fileLogLevel" source="logging-api.file.log-level" defaultValue="INFO"/>

    <springProperty name="consoleLogPattern" source="logging-api.console.log-pattern" defaultValue="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
    <springProperty name="consoleLogLevel" source="logging-api.console.log-level" defaultValue="INFO"/>

    <springProperty name="logstashHost" source="logging-api.logstash.host" defaultValue="192.168.56.101"/>
    <springProperty name="logstashPort" source="logging-api.logstash.port" defaultValue="5300"/>
    <springProperty name="elasticLogLevel" source="logging-api.elastic.log-level" defaultValue="INFO"/>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${filePath}</file>
        <encoder>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${fileLogLevel}</level>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${consoleLogLevel}</level>
        </filter>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${elasticLogLevel}</level>
        </filter>
    </appender>

    <logger name="chapters.configuration" level="INFO"/>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="ALL">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>